@using Ecommerce.Data

@model MvcEcommerce.Models.IndexViewModel

@section css{
<link href="/Content/themes/shop-homepage.css" rel="stylesheet" />
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                @foreach (Category c in Model.Categories)
                {
                    if (Model.CategoryId == c.Id)
                    {
                        <a href="/home/ShopHomePage?catId=@c.Id" class="list-group-item active">@c.Name</a>
                    }
                    else
                    {
                        <a href="/home/ShopHomePage?catId=@c.Id" class="list-group-item">@c.Name</a>
                    }
                }               
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="row" id="productInfo">
               
            </div>            
                 @foreach (Product p in Model.Products)
                 {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                        <a href="/home/shopItem?pid=@p.Id">
                               <img src="/Uploads/@p.Images.First().FileName" alt="">
                            <div class="caption">
                                <h4 class="pull-right">@p.Price.ToString("C")</h4>
                                <h4>
                                    @p.Name
                                </h4>
                                <p>@p.ShortDescription.</p>
                            </div>
                           </a>
                        </div>
                    </div>
                 }

                   
                 

        </div>

    </div>

</div>
<!-- /.container -->

@section scripts{    
<script src="~/Scripts/homePage.js"></script>
    }